# Project-specific
Secrets/
.vs/
appsettings.json
appsettings.Development.json
CellularParkingApp.csproj.user
*.user

# Node and Expo
node_modules/
expo/node_modules/
expo/.expo/
expo/.expo-shared/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# misc
app-example

# generated native folders
/ios
/android

# Ignore build outputs
bin/
obj/
*.dll
*.exe
*.log

# Ignore docx files
*.docx

# Ignore private project information
about.txt